.carta {
  width:120px; /* or whatever width you want. */
  max-width:120px; /* or whatever width you want. */
  display: inline-block;
  padding: 2px;
}

.portada {
  width: 120px;
  height: 120px;
  background-color: #ff2600ad;
}

.contenido {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(3, 244, 164, 0.46);
}

.ReactFlipCard {
  width: 100%;
  height: 100%;
}

.portada:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.carta:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}