.marcador{
    position: fixed;
    width: 25%;
    height: 100vh;
    background: #913c15;
    justify-content: center;
    align-content: center;
    align-items: center;
    border:  none;
}
.minidiv
{
    margin: 0 auto;
    text-align: center;
}

.titulo {
    position: relative;
    margin: 0;
    text-align: Center;
    font-size: 25px;
    color:rgb(0, 0, 0);
    font-weight: bold;
}

.boton-reiniciar {
    position: relative;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(110, 1, 1);
}

    body{
    padding:0 ;
    margin: 0;
    display: flex;
}
/* ------------------------------------------------------------------------------------------------ */
/* Linea la cual permite posicionar el header lateral en la parte superior en dispositicos peuqños */
/* ----------------------------------------------------------------------------------------------- */
@media screen and (max-width: 700px)
{
    body
    {
        width: 100%;
    }
    .marcador
    {
        z-index: 100;
        width: 100%;
        height: 100px;
        display: flex;
    }

    .minidiv
    {
        display: flex;
        height: 100px;
        align-items: center;
        text-align: center;
        margin: 12px;
    }

    .contenedor_boton{
        width: 100px;   

    }
    .titulo {
        color: white;
    }
}