.marcador{
    height: 100vh;
    float: left;
    background-color: yellowgreen;
    margin-bottom: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.titulo {
    font-size: 25px;
    padding: 10px;
    color:green;
}

.boton-reiniciar {
    position: absolute;
    left: 12px;
    top: 58px;
}


body{
    padding:0 ;
    margin: 0;
    display: flex;
}