.marcador{
    position: fixed;
    width: 25%;
    height: 100vh;
    background: #913c15;
    justify-content: center;
    align-content: center;
    align-items: center;
    border:  none;
}
.minidiv
{
    margin: 0 auto;
    text-align: center;
}

.titulo {
    position: relative;
    margin: 0;
    text-align: Center;
    font-size: 25px;
    color:rgb(255, 255, 255);
    top: 200px;
  font-weight: bold;
}

.boton-reiniciar {
    top: 200px;
    position: relative;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(110, 1, 1);
}

body{
    padding:0 ;
    margin: 0;
    display: flex;
}