body{
  background: turquoise;
}

:root{
  --color1:#f39b12;
  --color2:#C13A2A;
  --color3:#2C80B8;
}
.box-cards{
  height: 450px;
  width: 90%;
  margin: 80px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
  flex: 1;
  
}
.box-cards .box{
  background-color: #fff;
  height: 550px;
  width: 25%;
  color: #fff;
}
.box1{
  border-top: 8px solid var(--color1);
  border-bottom:8px solid var(--color1); 
  transform: translateX(-28em);
  animation: primero .5s linear forwards;
  
}
.box2{
  border-top: 8px solid var(--color2);
  border-bottom:8px solid var(--color2);
  transform: translateY(35em);
  animation: primero .5s linear forwards;
}
.box3{
  border-top: 8px solid var(--color3);
  border-bottom:8px solid var(--color3);
  transform: translateX(28em);
  animation: primero .5s linear forwards;
}
.box img{
  height: auto;
  width: 100%;
  object-fit: cover;
}
.box .botton{
  padding: 10px;
  width: 60%;
  font-family: sans-serif;
  text-align: center;
  margin: -20px auto;
  transition: .3s;
  display: block;
  position: relative;
  z-index: 2;
  font-weight: bold;
}
.botton1{
  background-color: var(--color1);
}
.botton2{
  background-color: var(--color2);
}
.botton3{
  background-color: var(--color3);
}
.box p{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: #ce901d;
  font-size: .9em;
  width: 100%;
  margin:70px auto;
}
.box:hover .botton{
  transform: rotate(-10deg);
}

@keyframes primero{
  100%{
      transform: translateX(0);
  }
}
@keyframes segunda{
  100%{
      transform: translateY(0);
  }
}
.title1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #a51515;
  text-align: center;
  font-size: 2em;
}
.title2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #038617;
  text-align: center;
  font-size: 2em;
}


@media screen and (max-width: 992px) {
  .historia
  {
    align-content: center;
    align-items: center;
    text-align: center;  }

  .box-cards{
    text-align: center;  
    height: 450px;
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: space-around;
    align-items: center;
    
  }

  .box-cards .box{
    margin: 10px;
    text-align: center;  
    height: 450px;
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: space-around;
    align-items: center;
    
  }

}

@media screen and (max-width: 500px) {
  .historia
  {
    align-content: center;
    align-items: center;
    text-align: center;  }

  .box-cards{
    text-align: center;  
    height: 450px;
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: space-around;
    align-items: center;
    
  }

  .box-cards .box{
    margin: 10px;
    text-align: center;  
    height: 450px;
    width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: space-around;
    align-items: center;
  }
  .box img{
    padding-top: 20px;
    height: auto;
    width: 250px;
    object-fit: cover;
  }
}

body
{
  background: url(../assets/images/fondo.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
}