.contentido2{
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../../../assets/images/fondo.jpg");
}
.tablero2{
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-around;
    ;
}
