.contentido1{
  padding: 0px 0px 100px 0px;
  width: 75%;
  float: right;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../../../assets/images/fondo.jpg");
}

.tablero1{
    float: right;
    display: flex;
    padding-left: 220px;
    padding-right: 220px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fa{
  font-size: 90px;
}

/* ------------------------------------------------------------------------------------------------ */
/* Linea la cual permite posicionar el header lateral en la parte superior en dispositicos peuqños */
/* ----------------------------------------------------------------------------------------------- */

@media screen and (max-width: 900px)
{
  .contentido1{
    padding-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url("../../../assets/images/fondo.jpg");
  }
  
  .tablero1{
    padding: 5px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px)
{
  .contentido1{
    padding-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url("../../../assets/images/fondo.jpg");
  }

  .tablero1{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

