.contentido3{
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../../../assets/images/fondo.jpg");
}
.tablero3{
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
    justify-content: space-around;
    ;
}