.contentido3{
  padding: 100px 0px 100px 0px;
  width: 75%;
  float: right;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../../../assets/images/fondo.jpg");
}
.tablero3{
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/* ------------------------------------------------------------------------------------------------ */
/* Linea la cual permite posicionar el header lateral en la parte superior en dispositicos peuqños */
/* ----------------------------------------------------------------------------------------------- */

@media screen and (max-width: 700px)
{
  .contentido3{
    padding-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url("../../../assets/images/fondo.jpg");
  }
  .tablero3{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}